{
  "openapi": "3.0.4",
  "info": {
    "title": "Cinode API",
    "description": "Cinode's Open API",
    "termsOfService": "https://cinode.com/en/terms/api-terms-of-service",
    "contact": {
      "name": "Cinode Support",
      "url": "https://support.cinode.com/"
    },
    "license": {
      "name": "Cinode AB",
      "url": "https://www.cinode.com"
    },
    "version": "0.2"
  },
  "servers": [
    {
      "url": "https://api.cinode.com"
    }
  ],
  "paths": {
    "/v0.2/companies/{companyId}/customers/{customerId}/tags": {
      "get": {
        "tags": [
          "CompanyCustomerTags"
        ],
        "summary": "Get customer tags",
        "description": "Requires access level: CompanyManager. Requires module: Customers. ",
        "operationId": "GetCustomerTagsV02",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CompanyCustomerTags"
        ],
        "summary": "Tag customer",
        "description": "Either add an existing tag by id, or create new or add existing by name.",
        "operationId": "TagCustomerV02",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "AddCompanyTagModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.2/companies/{companyId}/customers/{customerId}/tags/{tagId}": {
      "delete": {
        "tags": [
          "CompanyCustomerTags"
        ],
        "summary": "Un-tag customer",
        "description": "Requires access level: CompanyManager. Requires module: Customers. ",
        "operationId": "UntagCustomerV02",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "Tag Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200": {
            "description": "All went well"
          }
        }
      }
    },
    "/v0.2/companies/{companyId}/projects/{projectId}/roles/{roleId}/tags": {
      "get": {
        "tags": [
          "ProjectAssignmentTags"
        ],
        "summary": "Get project assignment tags",
        "description": "Requires access level: CompanyManager. Requires module: Assignments. ",
        "operationId": "GetProjectAssignmentTags",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "Role Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ProjectAssignmentTags"
        ],
        "summary": "Tag project assignment",
        "description": "Either add an existing tag by id, or create new or add existing by name.",
        "operationId": "TagProjectAssignment",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "Role Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "AddCompanyTagModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.2/companies/{companyId}/projects/{projectId}/roles/{roleId}/tags/{tagId}": {
      "delete": {
        "tags": [
          "ProjectAssignmentTags"
        ],
        "summary": "Un-tag project assignment",
        "description": "Requires access level: CompanyManager. Requires module: Assignments. ",
        "operationId": "UntagProjectAssignment",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "description": "Role Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "Tag Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.2/companies/{companyId}/projects/{projectId}/tags": {
      "get": {
        "tags": [
          "ProjectTags"
        ],
        "summary": "Get project tags",
        "description": "Requires access level: CompanyManager. Requires module: Assignments. ",
        "operationId": "GetProjectTagsV02",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagBaseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ProjectTags"
        ],
        "summary": "Tag project",
        "description": "Either add an existing tag by id, or create new or add existing by name.",
        "operationId": "TagProjectV02",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "AddCompanyTagModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagBaseModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.2/companies/{companyId}/projects/{projectId}/tags/{tagId}": {
      "delete": {
        "tags": [
          "ProjectTags"
        ],
        "summary": "Un-tag project",
        "description": "Requires access level: CompanyManager. Requires module: Assignments. ",
        "operationId": "UntagProjectV02",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tagId",
            "in": "path",
            "description": "Tag Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.2/companies/{companyId}/tag-types": {
      "get": {
        "tags": [
          "TagTypes"
        ],
        "summary": "Get tag types",
        "operationId": "GetTagTypes",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagTypeModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagTypeModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagTypeModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagTypeModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyTagTypeModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TagTypes"
        ],
        "operationId": "CreateTagType",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagTypeModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagTypeModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagTypeModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddCompanyTagTypeModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.2/companies/{companyId}/tag-types/{id}": {
      "put": {
        "tags": [
          "TagTypes"
        ],
        "operationId": "EditTagType",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EditCompanyTagTypeModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EditCompanyTagTypeModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EditCompanyTagTypeModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EditCompanyTagTypeModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "TagTypes"
        ],
        "operationId": "GetTagType",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyTagTypeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TagTypes"
        ],
        "operationId": "DeleteTagType",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/_whoami": {
      "get": {
        "tags": [
          "WhoAmI"
        ],
        "summary": "Get who am I",
        "description": "Non-versioned method. Returns information about the caller.",
        "operationId": "WhoAmI",
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/WhoAmIResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoAmIResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoAmIResponseModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Not found, the caller is not known"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AddCompanyTagModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Tag id if adding an existing tag by id",
            "format": "int32",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Tag name if adding a new tag or adding an existing tag by name",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddCompanyTagTypeModel": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CompanyCandidateState": {
        "enum": [
          0,
          10,
          20,
          30,
          40
        ],
        "type": "integer",
        "description": "\n\nOpen = 0\n\nWon = 10\n\nPaused = 20\n\nRejected by candidate = 30\n\nRejected by us = 40",
        "format": "int32",
        "x-ms-enum": {
          "name": "CompanyCandidateState",
          "values": [
            {
              "name": "Open",
              "value": 0
            },
            {
              "name": "Won",
              "value": 10
            },
            {
              "name": "Paused",
              "value": 20
            },
            {
              "name": "Lost",
              "value": 30
            },
            {
              "name": "Rejected",
              "value": 40
            }
          ]
        }
      },
      "CompanyTagBaseModel": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "id": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "seoId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CompanyTagTypeModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CompanyUserStatus": {
        "enum": [
          0,
          2,
          3
        ],
        "type": "integer",
        "description": "\n\nDisconnected = 0\n\nPreactive = 2\n\nActive = 3",
        "format": "int32",
        "x-ms-enum": {
          "name": "CompanyUserStatus",
          "values": [
            {
              "name": "Disconnected",
              "value": 0
            },
            {
              "name": "PreActive",
              "value": 2
            },
            {
              "name": "Active",
              "value": 3
            }
          ]
        }
      },
      "EditCompanyTagTypeModel": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "ErrorModel": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "CorrelationId",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Severity of error",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Error description in plain text",
            "nullable": true
          },
          "code": {
            "type": "integer",
            "description": "Cinode specific error code",
            "format": "int32",
            "nullable": true
          },
          "moreInfo": {
            "type": "string",
            "description": "Url to help page containing more information",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ICompanyCandidatePatchDocument": {
        "type": "object",
        "properties": {
          "pipelineId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pipelineStageId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "recruitmentManagerId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "state": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyCandidateState"
              }
            ],
            "nullable": true
          },
          "availableFromDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "campaignCode": {
            "type": "string",
            "nullable": true
          },
          "internalId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ICompanyUserEmployeePatchDocument": {
        "type": "object",
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CompanyUserStatus"
              }
            ]
          },
          "employmentStartDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "employmentEndDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "employmentNumber": {
            "type": "string",
            "nullable": true
          },
          "invoicingGoal": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "mobility": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "availabilityPercent": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "availableFromDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "taxTable": {
            "type": "string",
            "nullable": true
          },
          "baseSalary": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "provision": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "hourlyTargetRate": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "selfCost": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "locationId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "defaultCurrencyId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "displayCurrencyId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "firstname": {
            "type": "string",
            "nullable": true
          },
          "lastname": {
            "type": "string",
            "nullable": true
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "gender": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UserGender"
              }
            ]
          },
          "companyCalendarId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "timezoneId": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "desiredAssignment": {
            "type": "string",
            "nullable": true
          },
          "internalIdentifier": {
            "type": "string",
            "nullable": true,
            "deprecated": true
          },
          "internalId": {
            "type": "string",
            "nullable": true
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "twitter": {
            "type": "string",
            "nullable": true
          },
          "linkedIn": {
            "type": "string",
            "nullable": true
          },
          "homepage": {
            "type": "string",
            "nullable": true
          },
          "blog": {
            "type": "string",
            "nullable": true
          },
          "gitHub": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "JsonPatchDocument": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Operation"
        },
        "description": "Array of patch operations to perform"
      },
      "Operation": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string"
          },
          "value": {
            "type": "object",
            "nullable": true
          },
          "path": {
            "type": "string"
          }
        }
      },
      "UserGender": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "description": "\n\nNot indicated = 0\n\nMale = 1\n\nFemale = 2",
        "format": "int32",
        "x-ms-enum": {
          "name": "UserGender",
          "values": [
            {
              "name": "Other",
              "value": 0
            },
            {
              "name": "Male",
              "value": 1
            },
            {
              "name": "Female",
              "value": 2
            }
          ]
        }
      },
      "ValidationModel": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            },
            "description": "Collection of validation errors",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "WhoAmIResponseModel": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "integer",
            "format": "int32"
          },
          "companyUserId": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    }
  },
  "tags": [
    {
      "name": "CompanyCustomerTags"
    },
    {
      "name": "ProjectAssignmentTags"
    },
    {
      "name": "ProjectTags"
    },
    {
      "name": "TagTypes"
    },
    {
      "name": "WhoAmI"
    }
  ]
}
