{
  "openapi": "3.0.4",
  "info": {
    "title": "Cinode API",
    "description": "Cinode's Open API",
    "termsOfService": "https://cinode.com/en/terms/api-terms-of-service",
    "contact": {
      "name": "Cinode Support",
      "url": "https://support.cinode.com/"
    },
    "license": {
      "name": "Cinode AB",
      "url": "https://www.cinode.com"
    },
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.cinode.com"
    }
  ],
  "paths": {
    "/v0.1/companies/{companyId}/users/{companyUserId}/absences/{id}": {
      "get": {
        "tags": [
          "Absence"
        ],
        "summary": "Get absence period by id",
        "operationId": "Absence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your company id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "The id of the actual user",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id for the requested absence period",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Absence"
        ],
        "summary": "Update Absence Item for User",
        "operationId": "UpdateAbsence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "CompanyUser Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Absence Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "AbsenceAddEditModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Absence"
        ],
        "summary": "Delete absence",
        "operationId": "DeleteAbsence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Customer Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/users/{companyUserId}/absences": {
      "post": {
        "tags": [
          "Absence"
        ],
        "summary": "Create Absence Item for User",
        "operationId": "NewAbsence",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "CompanyUser Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "AbsenceAddEditModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AbsenceAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AbsencePeriodModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "403": {
            "description": "Forbidden request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200": {
            "description": "All went well"
          }
        }
      },
      "get": {
        "tags": [
          "Absences"
        ],
        "summary": "Get absence period by company user id",
        "operationId": "Absences",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your Cinode Company id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyUserId",
            "in": "path",
            "description": "The id of the actual User",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsencePeriodDtoModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request"
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/absence/types": {
      "get": {
        "tags": [
          "AbsenceType"
        ],
        "summary": "Get absence types for company",
        "operationId": "AbsenceTypes",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AbsenceTypeModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/projects/{projectId}/roles/{roleId}/requests/{requestId}/responses/subcontractors": {
      "post": {
        "tags": [
          "AssignmentRequestSubcontractorResponse"
        ],
        "summary": "This endpoint allows your partner managers to reply (on the behalf of one of your subcontractor recipients) to your announced requests that had subcontractor recipients",
        "description": "Requires access level: PartnerManager. Requires module: Assignments. Requires module: Partners. ",
        "operationId": "NewProjectAssignmentRequestResponse",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "The Id of the role request",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "CompanyUserId"
                ],
                "type": "object",
                "properties": {
                  "CompanyUserId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "Price": {
                    "type": "number",
                    "format": "double"
                  },
                  "CurrencyId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "Message": {
                    "type": "string"
                  },
                  "Attachments": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "CompanyUserId": {
                  "style": "form"
                },
                "Price": {
                  "style": "form"
                },
                "CurrencyId": {
                  "style": "form"
                },
                "Message": {
                  "style": "form"
                },
                "Attachments": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SubcontractorProjectAssignmentRequestResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubcontractorProjectAssignmentRequestResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubcontractorProjectAssignmentRequestResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SubcontractorProjectAssignmentRequestResponseModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SubcontractorProjectAssignmentRequestResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/availability": {
      "post": {
        "tags": [
          "Availability"
        ],
        "summary": "Get availability for company users. Omitting companyUserId gets availability for all company users in company.",
        "operationId": "SearchAvailability",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Your Cinode Company id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Filter options",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AvailabilityFilterModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AvailabilityModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request"
          }
        }
      }
    },
    "/v0.1/companies/{companyId}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get company by id",
        "operationId": "Company",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "CompanyId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/addresses": {
      "post": {
        "tags": [
          "CompanyAddress"
        ],
        "description": "Requires access level: CompanyAdmin. ",
        "operationId": "AddAddress",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "CompanyAddresses"
        ],
        "operationId": "GetAddresses",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/addresses/{addressId}": {
      "get": {
        "tags": [
          "CompanyAddress"
        ],
        "operationId": "GetAddress",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CompanyAddress"
        ],
        "description": "Requires access level: CompanyAdmin. ",
        "operationId": "EditAddress",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AddressAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddressModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CompanyAddress"
        ],
        "description": "Requires access level: CompanyAdmin. ",
        "operationId": "DeleteAddress",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "addressId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/addresses/{id}/users": {
      "get": {
        "tags": [
          "CompanyAddressUsers"
        ],
        "summary": "Get company users list for an address",
        "operationId": "CompanyAddressUsers",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Address Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyUserExtendedModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{id}": {
      "get": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Get Candidate by Id",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "Candidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Patch company candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "PatchCompanyCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Only certain properties on the user are patchable. See the generated example for a list of available properties, using the `op: \"replace\"` as example. See the generated schema for `ICompanyCandidatePatchDocument` for full type information per property",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatchDocument"
              },
              "example": [
                {
                  "value": 0,
                  "path": "/pipelineid",
                  "op": "replace"
                },
                {
                  "value": 0,
                  "path": "/pipelinestageid",
                  "op": "replace"
                },
                {
                  "value": 0,
                  "path": "/recruitmentmanagerid",
                  "op": "replace"
                },
                {
                  "value": 0,
                  "path": "/state",
                  "op": "replace"
                },
                {
                  "value": "2026-04-28T12:59:44.3993805+02:00",
                  "path": "/availablefromdate",
                  "op": "replace"
                },
                {
                  "value": "string",
                  "path": "/campaigncode",
                  "op": "replace"
                },
                {
                  "value": "string",
                  "path": "/internalid",
                  "op": "replace"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Delete candidate from the system\nThis action is irreversible, use with caution",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "DeleteCompanyCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates": {
      "post": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Create Candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "AddCompanyCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "CompanyCandidateAddModel",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateExtendedModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "200": {
            "description": "All went well"
          }
        }
      },
      "get": {
        "tags": [
          "CompanyCandidates"
        ],
        "summary": "Get Candidates",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "Candidates",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyCandidateBaseModel"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{id}/invite": {
      "post": {
        "tags": [
          "CompanyCandidate"
        ],
        "summary": "Invite the CompanyCandidate to create their own Cinode account\nA email is sent with your message and details for how to login",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "InviteCandidate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Candidate Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Model with data about the candidate needed for the invitation",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CompanyCandidateAddInviteModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well"
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{candidateId}/events/{id}": {
      "get": {
        "tags": [
          "CompanyCandidateEvent"
        ],
        "summary": "Get company candidates event by id",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "CompanyCandidateEvent",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v0.1/companies/{companyId}/candidates/{candidateId}/events/meetings/{id}": {
      "get": {
        "tags": [
          "CompanyCandidateEventMeeting"
        ],
        "summary": "Get company candidates meeting event with specified id",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "CompanyCandidateEventMeeting",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CompanyCandidateEventMeeting"
        ],
        "summary": "Update meeting event for company candidate",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "UpdateCompanyCandidateEventMeeting",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "description": "CandidateId Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Event Id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Meeting Event details",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EventMeetingAddEditModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All went well",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyCandidateEventMeetingModel"
                }
              }
            }
          },
          "400": {
            "description": "Incorrect request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "500": {
            "description": "Server error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CompanyCandidateEventMeeting"
        ],
        "summary": "Delete company candidate meeting event",
        "description": "Requires access level: CompanyRecruiter. Requires module: Recruitment. ",
        "operationId": "DeleteCompanyCandidateEventMeeting",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "Company Id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
[...]
